drop ip any any -> any any (msg:"GeoIP blocked - allowed countries only"; geoip:src,${geo_countries}; sid:1000; rev:1;)
alert tcp any any -> $NLB_PUBLIC_IPS $HTTP_PORTS (msg:"TCP request to NLB received"; sid:3000; rev:1;)
pass tcp any any  -> $NLB_PUBLIC_IPS $HTTP_PORTS (msg:"TCP request to NLB allowed"; sid:3010; rev:1;)
alert tcp any any -> $NLB_PRIVATE_IPS $HTTP_PORTS (msg:"TCP request to NLB private received"; sid:4000; rev:1;)
pass tcp any any  -> $NLB_PRIVATE_IPS $HTTP_PORTS (msg:"TCP request to NLB private allowed"; flow: to_server; sid:4010; rev:1;)
alert http any any -> $NLB_PUBLIC_IPS $HTTP_PORTS (msg:"HTTP request to NLB received"; sid:5000; rev:1;)
pass http any any  -> $NLB_PUBLIC_IPS $HTTP_PORTS (msg:"HTTP request to NLB allowed"; sid:5010; rev:1;)
alert tls any any -> $NLB_PUBLIC_IPS $HTTP_PORTS (msg:"TLS request to NLB received"; sid:6000; rev:1;)
pass tls any any  -> $NLB_PUBLIC_IPS $HTTP_PORTS (msg:"TLS request to NLB allowed"; flow: to_server; sid:6010; rev:1;)
alert tls any any -> $NLB_PRIVATE_IPS $HTTP_PORTS (msg:"TLS request to NLB private received"; sid:7000; rev:1;)
pass tls any any  -> $NLB_PRIVATE_IPS $HTTP_PORTS (msg:"TLS request to NLB private allowed"; flow: to_server; sid:7010; rev:1;)
pass tcp $ALB_PRIVATE_IPS any -> any $HTTP_PORTS (msg:"Allow ALB outbound to targets"; sid:8000; rev:1;)
pass tcp any any -> $ALB_PRIVATE_IPS $HTTP_PORTS (msg:"Allow inbound to ALB"; sid:8010; rev:1;)
pass ip any any -> any any (msg:"Pass all remaining traffic"; sid:9999; rev:1;)